

{% extends 'base.html' %}
{% block content %}

<!-- Message -->
    <!-- <ul class="messagelist">
        <li class="success">O cliente “<a href="/admin/task/cliente/2/change/">BARBARA CRISTINA MARTINS DA SILVA</a>” foi alterado com sucesso.</li>
    </ul> -->

<!-- Content -->


<div id="content" class="">
    
    <h2 id="esconde-test"><a href="/"></a> Próximos Vencimentos</h2>
        <div id="content-main">
            <ul class="object-tools">

                <button class="button" id="cliente-bt" value="Editar"><i class="fas fa-user-friends"></i></button></li>
            </ul>

            <div class="module" id="changelist">
                <div class="changelist-form-container">
                    <!-- Tabela de Clientes-->
                    <div class="results">
                        <table id="result_list" class="table table-striped table-bordered dt-responsive nowrap no-footer">
                            <thead>
                                <tr>
                                    <!-- <th scope="col" class="action-checkbox-column">
                                        <div class="text"><span><input type="checkbox" id="action-toggle"></span></div>
                                        <div class="clear"></div>
                                    </th> -->
                                    <th scope="col" class="sortable column-name">
                                        <div class="text">&nbsp;NOME DO CLIENTE </div>
                                        <div class="clear"></div>
                                    </th>
                                    <th scope="col" class="sortable column-cpf">
                                        <div class="text"> CPF </div>
                                        <div class="clear"></div>
                                    </th>
                
                                    <th scope="col" class="sortable column-policy">
                                        <div class="text"> NÚMERO DA APOLICE </div>
                                        <div class="clear"></div>
                                    </th>
                                    <th scope="col" class="sortable column-amount_paid">
                                        <div class="text"> VALOR PAGO </div>
                                        <div class="clear"></div>
                                    </th>
                                    <th scope="col" class="sortable column-date">
                                        <div class="text"> Date </div>
                                        <div class="clear"></div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                    <th>AAAAAA</th>
                                    <td>BBBBBB</td>
                                    <td>CCCCC</td>
                                    <td><b>DDDDD</b></td>
                                    <td>EEEEE</td>
                                </tr>
    
                            </tbody>
                        </table>
                    </div>

                    
                        <div class="alinha-tab-end">
                            <div class="form-cliente">

                            </div>
                            <!-- <form action="/" method="GET"> -->
                                <div class="form-check" name="inline-radios">
                                    <label for="inline-radio1" class="form-check-label ">
                                    <input type="radio" id="inline-radio1" name="inline-radios" value="option1" class="form-check-input"> 5 Dias 
                                    </label>
                                    <label for="inline-radio2" class="form-check-label ">
                                    <input type="radio" id="inline-radio2" name="inline-radios" value="option2" class="form-check-input"> 10 Dias
                                    </label>
                                    <label for="inline-radio3" class="form-check-label ">
                                    <input type="radio" id="inline-radio3" name="inline-radios" value="option3" class="form-check-input"> 15 Dias
                                    </label>
                                    <label for="inline-radio4" class="form-check-label ">
                                    <input type="radio" id="inline-radio4" name="inline-radios" value="option4" class="form-check-input"> 30 dias
                                    </label>
                                </div>
                            <!-- </form> -->
                        </div>
                   
                </div>       
            </div>
        
        <div class="content-box">
            <h2>Controles</h2>
 
                <div class="div-box" id="box1">
                    <i class="fa fa-facebook"></i>
                    <ul>
                        <sctrong><h3 id="h3-color">Prospecção</h3>
                    </ul>
                </div>
     
                <div class="div-box" id="box2">
                    <i class="fa fa-facebook"></i>
                    <ul>
                        <sctrong><h3 id="h3-color">Atividades</h3>
                    </ul>
                </div>

                <div class="div-box" id="box3">
                    <i class="fa fa-facebook"></i>
                    <ul>
                        <sctrong><h3 id="h3-color">Tarefas</h3>
                    </ul>
                </div>
        </div>
    </div>
</div>    
    


{% endblock %}

